<ion-header>
  <ion-toolbar>
    <ion-title>
      Aula 99
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list *ngFor="let usuario of usuarios">
      <ion-item>
        {{usuario.nome}} - {{usuario.idade}} 
        <ion-button (click)="popularForm(usuario)">
          Editar
        </ion-button>
        <ion-button color="danger" (click)="deletarUsuario(usuario.id)">
          Excluir
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <form (ngSubmit)="salvarUsuario()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Idade</ion-label>
        <ion-input type="text" [(ngModel)]="usuarioCadastro.idade" name="idade"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" color="primary">Salvar</ion-button>
  </form>
</ion-content>
